$bor-red : 1px solid black ;
$bor-borown : 1px solid brown ;
$bor-red : 1px solid red ;
$bor-orange : 1px solid orange ;
$bor-yellow : 1px solid yellow ;
$bor-green : 1px solid green ;
$bor-blue : 1px solid blue ;
$bor-purple : 1px solid purple ;

